[mysqld]
table_definition_cache=400
table_open_cache=256
performance_schema=off
skip-host-cache
skip-name-resolve

slow_query_log = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.log
long_query_time = 1
log_output = FILE
